
.form{
  text-align: center;
  justify-content: flex-start;
  
}
h3{
  color: rgb(221, 49, 107);
}
.user_name{
  margin: 4px 4px 4px 4px;
 
}
.user_email{
  margin: 4px 4px 4px 4px;
 
}
.user_password{
  margin: 4px 4px 4px 4px;
 
}
.submit{
  border: 5px;
  border-radius: 5px;
  background-color: blanchedalmond;
  color: black;
  cursor: pointer;
  font-size: 24px;
  width: 400;
  
}
.submit:hover{
  color: aqua;
  background-color: aliceblue;
}